langchain==0.3.25
langchain-core==0.3.60
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langchain-chroma==0.2.4
sentence-transformers==3.4.1
fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
python-docx==1.1.2
python-dotenv==1.1.0
pydantic==2.10.6
groq==0.28.0